{% extends 'dashboard/base.html' %}
{% block title %} User Edit {% endblock %}
{% block content %}
{% load static  %}

<div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-4 col-md-5">
	                        <div class="card card-user">
	                            <div class="image">
	                                <img src="{% static 'dashboard/assets/img/background.jpg' %}" alt="..."/>
	                            </div>
	                            <div class="card-content">
	                                <div class="author">
									{% if user.avatar %}
	                                  <img class="avatar border-white" src="{{ user.avatar.url }}" alt="..."/>
										{% else %}
	                                  <img class="avatar border-white" src="{% static 'dashboard/assets/img/background.jpg' %}" alt="..."/>
									{% endif %}
	                                  <h4 class="card-title">{{ user.name }} <br />
	                                     <a href="#"><small>{{ user.user_name }} {{ user.last_name }} </small></a>
	                                  </h4>
	                                </div>
	                                <p class="description text-center">
	                                    {{ user.auf }}
	                                </p>
	                            </div>
	                            <hr>
	                            <div class="text-center">

	                            </div>

	                        </div>
							</a>
							<a href="{% url 'dash_user_change_password' %}">
							<button type="button" class="btn btn-wd btn-info  btn-rotate">
							<span class="btn-label">
								<i class="fa fa-edit"></i>
							</span>
							Edit password
						</button>
							 </a>

	                    </div>
	                    <div class="col-lg-8 col-md-7">
	                        <div class="card">
	                            <div class="card-header">
	                                <h4 class="card-title">Edit Profile</h4>
	                            </div>
	                            <div class="card-content">
	                                <form method="post">
										{% csrf_token %}
	                                    <div class="row">
	                                        <div class="col-md-5">
	                                            <div class="form-group">
	                                                <label>Company</label>
	                                                <input type="text" class="form-control border-input" name="company" placeholder="Company" value="{{ user.company }}">
	                                            </div>
	                                        </div>
	                                        <div class="col-md-3">
	                                            <div class="form-group">
	                                                <label>Username</label>
	                                                <input type="text" class="form-control border-input" name="user_name" placeholder="Username" value="{{ user.user_name }}">
	                                            </div>
	                                        </div>
	                                        <div class="col-md-4">
	                                            <div class="form-group">
	                                                <label for="exampleInputEmail1">Email address</label>
	                                                <input type="email" class="form-control border-input" name="email" placeholder="{{ user.email }}" value="{{ user.email }}">
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-6">
	                                            <div class="form-group">
	                                                <label>First Name</label>
	                                                <input type="text" class="form-control border-input" name="name" placeholder="Company" value="{{ user.name }}">
	                                            </div>
	                                        </div>
	                                        <div class="col-md-6">
	                                            <div class="form-group">
	                                                <label>Last Name</label>
	                                                <input type="text" class="form-control border-input" name="last_name" placeholder="Last Name" value="{{ user.last_name }}">
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-12">
	                                            <div class="form-group">
	                                                <label>Address</label>
	                                                <input type="text" class="form-control border-input" name="address" placeholder="Home Address" value="{{ user.address }}">
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-4">
	                                            <div class="form-group">
	                                                <label>City</label>
	                                                <input type="text" class="form-control border-input" name="city" placeholder="City" value="{{ user.city }}">
	                                            </div>
	                                        </div>
	                                        <div class="col-md-4">
	                                            <div class="form-group">
	                                                <label>Country</label>
	                                                <input type="text" class="form-control border-input" name="country" placeholder="Country" value="{{ user.country }}">
	                                            </div>
	                                        </div>
	                                        <div class="col-md-4">
	                                            <div class="form-group">
	                                                <label>Postal Code</label>
	                                                <input type="number" class="form-control border-input" name="postal_kod" placeholder="ZIP Code" value="{{ user.postal_kod }}" >
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-12">
	                                            <div class="form-group">
	                                                <label>About Me</label>
	                                                <textarea rows="5" class="form-control border-input" name="about_me" placeholder="Here can be your description">
											{{ user.about_me }}
													</textarea>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="text-center">
	                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
	                                    </div>
	                                    <div class="clearfix"></div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
{% endblock %}