{% extends 'dashboard/base.html' %}
{% block title %} Category - Detail {% endblock %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Category List</h4>
            <p class="category">here is Category on database you can see</p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table table-striped">
                <thead>
                    <th>Key</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ ctg.id }}</td>
                    </tr>
                    <tr>
                        <td>Content</td>
                        <td>{{ ctg.content }}</td>
                    </tr>
                    <tr>
                        <td>Slug</td>
                        <td>{{ ctg.slug }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
     <a href="{% url 'dashboard_ctg_list'  %}">
    <button type="button" class="btn btn-wd btn-default btn-fill btn-move-left">
        <span class="btn-label">
            <i class="ti-angle-left"></i>
        </span>
        Back
    </button>
     </a>
    <a href="{% url 'dash_ctg_edit' pk=ctg.id %}">
    <button type="button" class="btn btn-wd btn-info  btn-rotate">
    <span class="btn-label">
        <i class="fa fa-edit"></i>
    </span>
    Edit
</button>
     </a>

    <a href="{% url 'dash_ctg_conf' pk=ctg.id %}">
    <button type="button" class="btn btn-wd btn-warning  btn-magnify">
    <span class="btn-label">
        <i class="ti-alert"></i>
    </span>
    delete
</button>
    </a>
</div>

{% endblock %}