{% extends 'sayt/base.html' %}
{% block title %} Product {% endblock %}
{% block content %}
{% load static %}
<div id="wrapper">
{% include 'sayt/_partials/header.html' %}
<section class="main">
<div class="holder">
<div id="tab2" class="tab-content">
			<p>Warranty

			<p>Last updated on May 16, 2022</p>
				Castle warrants that all our furniture is free from defective materials and workmanship. Warranty periods vary by product, commencing from the date of delivery and are defined in the table below.
				If, during the warranty period, a product is deemed defective due to a manufacturing defect, Castlery will repair or replace part(s), at Castlery’s sole discretion. This Warranty covers the replacement
				or repair of any product or part of any product that has a manufacturing or material defect that is not the result of normal wear and tear, customer misuse, alternative handling, or a natural
				characteristic of the material used.</p>
		</div>

	</div>
</section>


{% include 'sayt/_partials/footer.html' %}
</div>
{% endblock %}